/* >>>> HEADER = (START) >>>> */
.header_part {
  width: 100%;
  z-index: 999;
  background-color: $primary_color;
  padding: 4px 10px;
  transition: 0.5s;
  top: 0;
  left: 0;
  right: 0;
  position: sticky;
  color: white;

  .header_content {
    display: flex;
    align-items: center;

    .brand {
      img {
        height: 32px;
        margin-right: 10px;
      }
    }

    .nav_search {
      flex: 1;
      padding: 5px 10px;
      border-radius: 5px;
      color: black;
      width: 100%;
      max-width: 400px;
      // @media (max-width:750px) {
      //   display: none;
      // }
    }
  }

  .nav_profile {
    padding: 5px 10px;
    border: 0.5px solid #ddd;
    margin: 0px 10px;
    border-radius: 5px;
    color: #222;
    font-family: "roboto";
    font-size: 14px;
    background-color: white;
    @media (max-width:750px) {
      display: none;
    }

    img {
      height: 20px;
      width: 20px;
      border-radius: 50%;
    }

    &:hover {
      background-color: $primary_color;
      border-color: white;
      color: white;
    }
  }

  .icon {
    color: white;
    font-size: 18px;
    padding: 5px;
    margin-left: 10px;
    display: inline-block;

    &.round {
      background-color: white;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
    }

    &:hover {
      background-color: white;
      color: black;
      cursor: pointer;
    }
  }
  .dropdown_bar {
    background-color: white;
    max-height: 250px;
    overflow: auto;
  
    &::-webkit-scrollbar {
      width: 5px;
      top: 50px;
      background: #fff;
    }
  
    &::-webkit-scrollbar-thumb {
      background: #ddd;
      border-radius: 3px;
    }
  
    .title {
      padding: 10px;
      background-color: #eeeeee;
      margin-bottom: 0;
    }
  
    .item {
      border-bottom: 1px solid #ccc;
      display: block;
      padding: 5px 10px;
      color: black;
      font-weight: bold;
  
      .img {
        height: 30px;
        width: 30px;
        margin-right: 5px;
      }
  
      i {
        color: black;
        margin-right: 10px;
      }
  
      &:hover {
        background-color: $primary_color;
        color: white;
  
        i {
          color: white;
        }
      }
    }
  }
  
  .user_drop {
    background-color: white;
    max-height: 250px;
    overflow: auto;
    width: 150px;
    .item{
      border-bottom: 1px solid #ccc;
      padding: 5px 10px;
      display: block;
      color: black;
      font-weight: 500;
      i{
        margin-right: 10px;
      }
      &.logout{
        color: red;
        cursor: pointer;
      }
    }
  }

  .login_button{
    background-color: white;
    float: right;
    margin-left: auto;
    padding: 5px 15px;
    border-radius: 999px;
    color: black;
    font-weight: bold;
    &:hover{
      background-color: $primary_color;
      border: 1px solid white;
      color: white;
    }
  }
}

