@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");



*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: $body-color !important;
}
h1,
p,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: "Roboto", sans-serif !important;
}

button:focus {
  outline: none !important;
}
input:focus {
  outline: none !important;
}
a {
  text-decoration: none;
}
ul{
  list-style-type: none !important;
}
.ptb {
  padding: 20px 0px;
}

.mt_60 {
  margin-top: 90px;
}

.login_modal{
  @media (min-width:800px) {
    
  }
  
}
.profile_avatar{
  background-color: white;
}

/* home container */
#home_post {
  max-width: 977px;
  margin-left: auto;
  margin-right: auto;
}
/* profile container */
#profile {
  max-width: 977px;
  margin-left: auto;
  margin-right: auto;
}
/* groups container */
#group {
  max-width: 957px;
  margin-left: auto;
  margin-right: auto;
}
#blog {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
#chat_container{
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  height: 90vh;
  overflow: hidden;
}
.default_container{
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.default_button {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  max-width: 100%;
  padding: 8px 24px;
  background-color: $primary_color;
  border-radius: 2px;
  border: 1px solid $primary_color;
  color: white;
  outline: none;
  cursor: pointer;
  &:hover {
    background-color: $primary_hover_color;
    color: white;
  }
  &.br_100 {
    border-radius: 999px;
  }
  &:disabled {
    border: black;
    background-color: rgb(216, 216, 216);
    color: black;
    cursor: not-allowed;
  }
}
.default_button_outline {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  max-width: 100%;
  padding: 8px 24px;
  background-color: white;
  border-radius: 2px;
  border: 1px solid $primary_color;
  color: $primary_color;
  outline: none;
  transition: 0.5s all;
  cursor: pointer;
  &.br_100 {
    border-radius: 999px;
  }
  &:hover {
    background-color: $primary_color;
    color: white;
    border-color: white;
  }
  &:disabled {
    border: black;
    background-color: rgb(216, 216, 216);
    color: black;
    cursor: not-allowed;
  }
}
.hidden {
  display: -webkit-box;
  display: -moz-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.loadMoreButton {
  color: #2684d4;
  padding: 3px 7px;
  outline: none;
  border: 1px solid #2684d4;
  border-radius: 5px;
  margin-right: 5px;
}
.loadMoreButton:hover {
  background-color: #2684d4;
  color: white;
}



/* Scroll to to */
.scroll-to-top {
  position: fixed;
  bottom: 12px;
  right: 5%;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: $primary_color;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}
.scroll-to-top .icon {
  margin-top: 10px;
  animation: scrollTop 0.5s alternate ease infinite;
}
@keyframes scrollTop {
  from {
    transform: translateY(2px);
  }
  to {
    transform: translateY(-1px);
  }
}



//-----------------------------------------------------------------------

@media (min-width: 320px) and (max-width: 440px) {
  .ptb {
    padding: 10px 0px;
  }

  .mt_60 {
    margin-top: 60px;
  }
}
@media (min-width: 441px) and (max-width: 574px) {
  .ptb {
    padding: 10px 0px;
  }

  .mt_60 {
    margin-top: 60px;
  }
}

@media (min-width: 575px) and (max-width: 765px) {
  .ptb {
    padding: 10px 0px;
  }

  .mt_60 {
    margin-top: 90px;
  }
}
@media (min-width: 766px) and (max-width: 1000px) {
}



//custom css
ul.ant-dropdown-menu-items{
  margin: 0;
  padding: 0;
  li{
    padding: 10px;
    &.unread{
      background-color: #cecece;
    }
    
  }
}